SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=ENABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

# CABGA256
# LOCATE COMP "spi_cs_n_io" SITE "N8";
# IOBUF  PORT "spi_cs_n_io" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
# LOCATE COMP "spi_sck_o" SITE "N9";
# IOBUF  PORT "spi_sck_o" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
# LOCATE COMP "spi_mosi_io" SITE "T8";
# IOBUF  PORT "spi_mosi_io" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
# LOCATE COMP "spi_miso_io" SITE "T7";
# IOBUF  PORT "spi_miso_io" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;

# TQFP144
LOCATE COMP "spi_cs_n_io" SITE "49";
IOBUF  PORT "spi_cs_n_io" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "spi_sck_o" SITE "54";
IOBUF  PORT "spi_sck_o" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "spi_mosi_io" SITE "47";
IOBUF  PORT "spi_mosi_io" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "spi_miso_io" SITE "46";
IOBUF  PORT "spi_miso_io" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
